@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
  height: 100%;
}

body {
  background-color: black;
  margin: 0%;
}
.Footer {
  background-color: #1F1F1F;
}

.MainImage{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/jpg/mainbackground.jpg');
  background-position: 0% 90%;
  background-size: cover;
}

.TextPages {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1280px;
  background-image: url( '/svg/Tlo-Opona.svg' );
  background-size: cover;
  background-position: center;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderQuestion{
  font-family: var(--font-inter);
}

.HeaderAnswer {
  font-family: var(--font-inter);
  text-align: center;
}

.HeaderSubPages {
  color: #00A0E3;
  font-family: var(--font-michroma);
}


.SocialsTab {
  display: block;
  font-family: var(--font-michroma);
  text-align: center;

}
.SocialsTab ul {
  list-style: none;
}
.SocialsTab li {
  display: inline-block;
  margin-right: 10px;
}

.InfoSection {
  display: flex;

}
.ContentWrapper {
  flex: 3; 
  display: flex;
  align-items: center;
  text-align: center;
  
}

.ImageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Napis {
  font-family: var(--font-michroma);
}